{
  "name": "{{name}}",
  "version": "1.0.0",
  "private": true,
  "scripts": {
    "dev": "gsap-slides dev",
    "build": "gsap-slides build",
    "export": "gsap-slides export"
  },
  "dependencies": {
    "gsap-slides": "^0.1.0"
  }
}
